@import "../components/bootstrap/less/bootstrap";
@import "../components/c3/c3.css";

@body-bg: @gray-darker;
@text-color: whitesmoke;
@modal-content-bg: @body-bg;
@modal-content-border-color: fadeOut(whitesmoke, 80%);
@modal-header-border-color: @gray-dark;
@hr-border: @gray-dark;

body {

  #window-controls {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 999;
  }

  & > .container:nth-of-type(1) {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .panel {
    .panel-body {
      background-color: @body-bg;
    }
    .panel-title {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: bold;
      }
    }
  }

}
