@import "../components/bootstrap/less/bootstrap";
@import "../components/c3/c3.css";
@import "../components/font-awesome/css/font-awesome.css";

@body-bg: @gray-darker;
@text-color: whitesmoke;
@link-color: @gray-lighter;
@link-hover-color: @gray-dark;
@modal-content-bg: @body-bg;
@modal-content-border-color: fadeOut(whitesmoke, 80%);
@modal-header-border-color: @gray-dark;
@hr-border: @gray-dark;
@nav-pills-active-link-hover-bg: @gray-lighter;
@nav-pills-border-radius: 3px;
@nav-pills-active-link-hover-color: @gray-darker;

body {

  #window-controls {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 999;
  }

  #charts {
    margin-top: 56px;
  }

  #navigation {
    margin-bottom: 12px;
    li {
      a {
        padding: 6px 18px;
      }
    }
  }

  & > .container:nth-of-type(1) {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .panel {
    .panel-body {
      background-color: @body-bg;
    }
    .panel-title {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: bold;
      }
    }
  }

}
