.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h5 Raw data
      .panel-body
        .row
          .col-xs-6
            small {{ posture.time }}
          .col-xs-6
            strong {{ posture.posture }}
        .row(ng-repeat='inclination in inclinations')
          .col-xs-2
            small {{ inclinationsMap[$index] }}
          .col-xs-2
            small {{ inclination.time }}
          .col-xs-4
            | {{ inclination.degree.toFixed(4) }} °
            br
            strong {{ inclination.scaled.toFixed(4) }}
          .col-xs-4
            | {{ weights[$index].toFixed(4) }}
            br
            strong {{ preferred_values[$index].toFixed(4) }}
