.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h5 User validation & support
      .panel-body
        .row
          .col-xs-12
            .alert.alert-danger(ng-show='seatingIterations > maxSeatingIterations')
              .row
                .col-xs-9
                  p You might consider taking a break and standing up for a bit (you've spent the last {{ seatingIterations }} seconds seating)
                .col-xs-3
                  button.btn.btn-success.btn-xs(ng-click='takeBreak()') Take a break
            p.alert.alert-warning(ng-repeat='suggestion in suggestions') {{ suggestion }}
        .row(ng-show='moodQuestion')
          .col-xs-8
            strong {{ moodQuestion.q }}
          .col-xs-2
            button.btn.btn-xs.btn-danger(ng-click='answerMoodQuestion(0)') {{ moodQuestion.a[0] }}
          .col-xs-2
            button.btn.btn-xs.btn-success(ng-click='answerMoodQuestion(1)') {{ moodQuestion.a[1] }}
        //.row(ng-show='componentsQuestion')
        //  .col-xs-5
        //    strong {{ componentsQuestion.q }}
        //  .col-xs-6
        //    .btn-group.btn-group-justified
        //      label.btn.btn-primary(btn-checkbox=true, ng-model='selectedComponents[$index]', ng-repeat='answer in componentsQuestion.a') {{ answer }}
        //  .col-xs-1
        //    button.btn.btn-success.btn-xs(ng-click='componentsQuestion.answer(selectedComponents)') Ok
