.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h5 User validation
      .panel-body
        p Some user validation questions here...
        .row(ng-repeat='userQuestion in userQuestions')
          .col-xs-8
            strong {{ userQuestion.q }}
          .col-xs-2
            button.btn.btn-xs.btn-danger {{ userQuestion.a[0] }}
          .col-xs-2
            button.btn.btn-xs.btn-success {{ userQuestion.a[1] }}
